@model IEnumerable<WebDemo.Models.JapaneseWord>
    @{
        ViewBag.Title = "My Japanese Dictionary";
    }

    <h2>Dictionary Lists</h2>

    <span>
        <button id="addtodictionary">
         Add to my dictionary
        </button>
    </span>

    <div id="Dictionary_Content">
      @if(Model.Count()>0)
      {
    @Html.Partial( "WordList", Model)
      }else
      {
          @: List does not exist
      }
    </div>

