<h2>Home</h2>

<div>
    At the moment I am not sure which direction I want to take this project too. I suppose i can start with a type of blog of updates to this site. Wait wait, let me start with the ideas first.
    <p>
    This site is supposed to offer the user a possibility of saving a word (usually foreign) to the database with some extra information like phonetics and translation in their mother tongue.
    Unfortunatelt for me, this is just an idea and i haven't made anything concrete about the sites presentation and content. So likely it is a work in progress with can change in a blink of an eye.
    I suppose I can also create demo pages just to test functionality like a hobby site of sorts, but then this site would look or stay on an amateur level. I'll just take this step by step.
    <p>
    First order would be to add a new link to the navbar. Here you can see the available dictionaries. so let's start with that. Beneath this paragraph can be a sort of progress report.
    <p>
    I would probably have to edit this page like a cms of sorts later.
    <p>
    DictionaryList page. Strongyly typed or not? I guess I have to plan these things out, wihtout a functional design, blind development eats into alot of time.
    Currently, the list is intended for japanese words, so I guess it will be a list for one user at the moment. And in the future plan for expansion. Multiple list shouldn't be available. Which means I
    should change the the navbar. The controller name can stay the same.

    <div id="progressReport">
        <ul>
        <li>Changed name of new page to" my dictionary" added a button for entry purposes. </li>
        <li>Navigation bar modified, added a new link "List of dictionaries"</li>
        <li>Model JapaneseWord and associated fields created</li>
        <li>Test Project added to this project to test class JapaneseWord (Unit Test)</li>
        </ul>
    </div>

</div>